<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LiangCangApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4E9E2A051BC3C2AA009B1A1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E9E2A1E1BC3C2AA009B1A1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E9E2A291BC3C2AA009B1A1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
